@font-face {
	font-family:"B Roya","A.Afsaneh.Font";
	src: url(fonts/font.woff) format('woff');
}

header{
background:url('D:/js/TimcheShop/timche/images (2).jpg') 0 0 / cover no-repeat;
color:red;
width:950px;
height:60px;
padding-right:380px;

}
header p{
	font-size:30px;
	margin:10px;
	float:right;
	
}

.fa-check,h1{
	color: blue;
	float: right;
	font-family: "A.Afsaneh.Font";
	font-size: 40px;
}
.header{
	margin:10px 40px;

}
.fa-check {
	margin:0 30px 0 4px;
	font-size: 50px!important;
	font-style: oblique!important;
	fo
}
h1{
	margin:10px 0px 10px 50px;
	vertical-align: top;

}

.header>form,i{
	float:right;
	margin:10px 10px;

}
.sever {
	font-size: 20px;
	padding: 10px;
	border-left: 1px solid #ddd;
}
.fa-shopping-cart{
	margin-top:30px ;
}
.search-input{
	padding: 12px 3px 12px 160px;
	background: #eee;
	border: 1px solid #ddd;
}
.search-button{
	padding: 12px 15px;
	background: #09f;
	border: 1px solid #09f ;
	color: #eee;
}
.instalment{
	border-radius: 5px;
	background-color: #DCDCDC;
	padding:10px ;
	width:60px ;
	height:60px ;
}
.title{
	text-align: center;
	border-bottom:1px solid lightsteelblue;
	height: 40px;
	padding-right: 5%;
}
.title i{
	float:right;
	margin:10px 15px;
	font-style: normal;

}

.cut-rate{
	font-size:40px;
	font-weight: 900;
	color: #ffd700;
}
section{
	clear:both;
}

.fire{
	float: right;
	margin-left:15px;
}
.offer{
	margin: 10px 100px 0 0 ;
	padding:0.5px;
}
.off{
	background-color:yellow;
	box-shadow:-10px 10px 0px 0px #DCDCDC;
	width:230px;
	height: 12px;
	font-size: 30px;
	font-weight: 900;
	margin-right:50px ;
}

 .sale2{
	border-radius:0em 0em 7em 0em;
	float:right;
	 margin-right: 5%;

}
.sale1{
	background:url(D:/js/TimcheShop/timche/images.jpg) 0 /cover no-repeat;
	float:right;
	width:500px;
	height:200px;
	padding:30px;

}
.sale3 {
	border-radius: 7em 0em 0em 0em;

}
i>div{
	float:right;
	margin-left: 90px;
}
i>div>p{
	color: red;
	font-size:30px;
	font-weight: 900;
	line-height: 20px;
}
i>div>span{
	background-color: yellow;
	border-radius:15px 0px;
	font-size: 20px;
	padding: 10px;
}
.back{
	background:url(D:/js/TimcheShop/timche/back.jpg) 0 /cover repeat border-box;
	height: 380px;
}
.back1{
	background-color: white;
	border-radius: 10px;
	padding:20px ;
}

.instalment{
	text-align:center;
	margin:20px;
}
i>img{
	margin-bottom:20px ;
}
.text1{
	width:100px;
	height:80px;
	background-color:navy;
	color:white;
	font-size:30px;
	text-align:center;
	padding-top:15px
}
.text2{
	width:100px;
	height:80px;
	background-color:limegreen;
	color:white;
	font-size:25px;
	text-align:center;
	padding-top:15px;
}

.crop{
	text-align: justify;
	margin-right:35px;
	padding: 16px;
	float:right;
	width:200px;
	height:340px;
	font: normal bold 15px/30px B Roya, serif;
}

section>div{
    float:right ;
	padding:5px;
	text-align: center;
}
h2, div{
	clear: right;
	margin-right:15px;
	float: right;
	font-family: "B Roya";
}
h3 {

	margin-right:660px;
}
.bord{
	border-bottom:1px solid lightsteelblue;
	height:410px;
	text-align: justify;
}
h2,h3,.bord{
	padding: 0 8%;
}
.priceoof{
	text-decoration:line-through;
	font-size:20px;
	margin-right:60px ;
	color: dimgrey;

}
.percent{
	background-color:yellow;
	float: left;
	font-size:22px;
}
span+p, i>p+p, .topic{
	margin-right: 70px;
	font-size:22px ;
	color: #000;
}
i>span{
	text-align: right;
	margin: 5px;

}
span+p{
	text-align: left;
}
.name{
	height:100px;
	text-align: justify;

}

footer {
	text-align: right;
	direction: rtl;

}
ul{
	float:right;
	list-style-type: none;
	margin-bottom:60px ;

}
 .first li, .thrid li {
	margin:15px 40px;
}
li:first-child{
	font-size: 20px;
}
footer>section{
	clear: both;
}

footer p{
	float: right;
	margin-left: 10px;
}
.second{
	background-color: #eeeeee;
	height: 70px;
	padding: 35px;
	font-size:15px ;
}
.second1{
	margin-right:40px;
}

.thrid img{
	float: right;
	margin:30px 30px 0 15px;
}


.fourth p+p{
	margin:10px 70px;
	color: grey;
}
.final{
	text-align:center ;
	margin: 30px 300px;
}
