@font-face {
	font-family:"B Roya","A.Afsaneh.Font","dana-regular","B Kamran","Far.Khodkar";
	src: url(fonts/font.woff) format('woff');
}

header{
background:url('image/images (2).jpg') 0 0 / cover no-repeat;
color:blue;
width:950px;
height:60px;
padding-right:380px;

}
header p{
	font-family: B Roya, serif;
	font-size:20px;
	margin:10px;
	float:right;
	font-weight: 900;
}
.wag1{
	font-size: 35px;
	margin: 0px !important;
	text-shadow: 1px 1px 4px #000;
	-webkit-animation:text 1s 0s infinite reverse backwards running ;
	animation:text 1s 0s infinite reverse backwards running ;
}

@-webkit-keyframes text{
	0%{
		color: yellow;
	}
	50%{
		color: yellow;
	}
	100%{
		color:#00008b;
	}
}

@keyframes text{
	0% {
		color: yellow;
	}
	50%{
		color: yellow;
	}
	100%{
		color:#00008b;
	}
}


.wag2{
	background-color:#0000cd;
	border-radius: 1em 0;
	font-size:18px;
	padding: 5px 10px;
	color: yellow;
	-webkit-animation: big 1s linear 1s infinite alternate-reverse backwards running ;
	animation: big 1s linear 1s infinite alternate-reverse backwards running ;
}
@-webkit-keyframes big {
	0%{
		transform: scale(1);
	}
	25% {
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes big {
	0%{
		transform: scale(1);
	}
	25% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

.fa-arrow-left{
	float: left;
	background:yellow ;
	color: #fff;
	border-radius: 1em 0;
	padding:6px 18px;
	font-size:15px!important;
	margin: 1px 10px 1px 1px;
}
.fa-check,h1{
	color: blue;
	float: right;
	font-family: dana-regular;
	font-size: 40px;
}
.header{
	margin:10px 40px;

}


.fa-check {
	margin:0 30px 0 4px;
	font-size: 50px!important;
	font-style: oblique!important;
}
h1{
	margin:10px 0px 10px 50px;
	vertical-align: top;
}

.header>form,i{
	float:right;
	margin:10px 10px;

}
.sever {
	font-size: 20px;
	padding: 10px;
	border-left: 1px solid #ddd;
}
.fa-shopping-cart{
	margin-top:30px ;
}
.search-input{
	padding: 12px 3px 12px 160px;
	background: #eee;
	border: 1px solid #ddd;
}
.search-button{
	padding: 12px 15px;
	background: #09f;
	border: 1px solid #09f ;
	color: #eee;
}
.instalment{
	border-radius: 5px;
	background-color: #DCDCDC;
	padding:10px ;
	width:60px ;
	height:60px ;
}
.title{
	text-align: center;
	border-bottom:1px solid lightsteelblue;
	height: 40px;
	padding-right: 5%;
}
.title i{
	float:right;
	margin:10px 15px;
	font-style: normal;

}

.cut-rate{
	font-size:40px;
	font-weight: 900;
	color: #ffd700;
}
section{
	clear:both;
}

.fire{
	float: right;
	margin-left:15px;
}
.offer{
	margin: 10px 100px 0 0 ;
	padding:0.5px;
}
.off{
	background-color:yellow;
	box-shadow:-10px 10px 0px 0px #DCDCDC;
	width:230px;
	height: 12px;
	font-size: 30px;
	font-weight: 900;
	margin-right:50px ;
}

 .sale2{
	border-radius:0em 0em 5em 0em;
	float:right;
	 margin-right: 6%;

}
.sale1{
	background:url(image/images.jpg) 0 /cover no-repeat;
	float:right;
	width:470px;
	height:200px;
	padding:18px 35px 0px 50px;
	font-style: normal;
}
.sale3 {
	border-radius: 5em 0em 0em 0em;

}
i>div{
	float:right;
	margin:2px 2px 10px 10px;
}
.publicity1{
	font-family: "B Roya";
}
.publicity2{
	 text-shadow :-2px 2px 1px #f08080;
}
.publicity1, .publicity3{
	color: red;
	font-size:40px;
	font-weight: 900;
	line-height: 2px;
}
.publicity3{
	font-weight: 500!important;
	font-size:30px;
}
.publicity4{
	background-color: yellow;
	border-radius:1em 0em;
	font-size: 22px;
	font-weight: 900;
	text-align: center;
	padding: 5px 18px;
}
.sale1>img, .fa-angle-double-left{
	float: left;
}
.fa-angle-double-left{
	margin:6px 0px;
}
.marg1{
	margin-top:70px;
	width:120px;
}
.back{
	background:url(image/back.jpg) 0 /cover repeat border-box;
	height: 380px;
}
.back1{
	background-color: white;
	border-radius: 10px;
	padding:20px ;
}

.instalment{
	text-align:center;
	margin:20px;
	font-style: normal;
	font-family:B B Roya , "B Roya";
}
i>img{
	margin-bottom:20px ;
}
.text1{
	width:100px;
	height:80px;
	background-color:navy;
	color:white;
	font-size:25px;
	text-align:center;

}

.text2{
	width:100px;
	height:80px;
	background-color:limegreen;
	color:white;
	font-size:25px;
	text-align:center;
	padding-top:15px;
}
.text1-1 , .text2-1{
	margin: 0px auto;
}
.fa-angle-right{
	color: limegreen;
}
.fa-angle-left{
	color:navy;
}

.fa-angle-left , .fa-angle-right{
	margin: 10px;
	position: relative;
	font-size: 40px!important;
	font-weight: 900!important;
}
.fa-angle-right {
	-webkit-animation: move 2s 0s infinite alternate-reverse both running;
	animation: move 2s 0s infinite alternate-reverse both running;
}
@-webkit-keyframes move {
	0% {
		right: -5px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		right: 70px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;

	}
}

@keyframes move {
	0% {
		right: -5px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100%{
		right: 70px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
.fa-angle-left{
	-webkit-animation: wave 2s 0s infinite alternate-reverse both running ;
	animation: wave 2s 0s infinite alternate-reverse both running ;
}
@-webkit-keyframes wave {
	0% {
		right: 70px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		right: -5px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;

	}
}

@keyframes wave {
	0% {
		right: 70px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100%{
		right: -5px;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}


.crop{
	text-align: justify;
	margin-right:35px;
	padding: 16px;
	float:right;
	width:200px;
	height:340px;
	font: normal bold 15px/30px B Roya, serif;
}

section>div{
    float:right ;
	padding:5px;
	text-align: center;
}
h2, div{
	clear: right;
	margin-right:15px;
	float: right;
	font-family: "B Roya";
}
h3 {

	margin-right:660px;
}
.bord{
	border-bottom:1px solid lightsteelblue;
	height:410px;
	text-align: justify;
}
h2,h3,.bord{
	padding: 0 8%;
}
.priceoof{
	text-decoration:line-through;
	font-size:20px;
	margin-right:60px ;
	color: dimgrey;

}
.percent{
	background-color:yellow;
	float: left;
	font-size:22px;
}
span+p, i>p+p, .topic{
	margin-right: 70px;
	font-size:22px ;
	color: #000;
}
i>span{
	text-align: right;
	margin: 5px;

}
span+p{
	text-align: left;
}
.name{
	height:100px;
	text-align: justify;

}

footer {
	text-align: right;
	direction: rtl;

}
ul{
	float:right;
	list-style-type: none;
	margin-bottom:60px ;

}
 .first li, .thrid li {
	margin:15px 40px;
}
li:first-child{
	font-size: 20px;
}
footer>section{
	clear: both;
}

footer p{
	float: right;
	margin-left: 10px;
}
.second{
	background-color: #eeeeee;
	height: 70px;
	padding: 35px;
	font-size:15px ;
}
.second1{
	margin-right:40px;
}

.thrid img{
	float: right;
	margin:30px 30px 0 15px;
}


.fourth p+p{
	margin:10px 70px;
	color: grey;
}
.final{
	clear:both;
	text-align:center ;
	margin: 30px 300px;
}
