@font-face {
	font-family:"B Roya","A.Afsaneh.Font","dana-regular","B Kamran","Far.Khodkar";
	src: url(fonts/font.woff) format('woff');
}
html{
	overflow-x: hidden;
}
header , .header, form, .title, .sale , .sale1, .title1, .publicity4, .bord, .bord1 , .first, .second, .thrid, #details1, #details2, #details3, #details4, #details5, #details6, #details7, #details8, #details9 {
	display:flex;
	flex-direction: row;
	justify-content: center;
}
header{
background:url('image/images (2).jpg') 0 0 / cover no-repeat;
	color:blue;
	margin-bottom:0;
}
header p{
	font-family: B Roya, serif;
	margin: auto 1vw;
	font-size:2vw;
}
.wag1{
	font-size:3vw;
	text-shadow: 1px 1px 4px #000;
	-webkit-animation:text 1s 0s infinite reverse backwards running ;
	animation:text 1s 0s infinite reverse backwards running ;
}

@-webkit-keyframes text{
	0%{
		color: yellow;
	}
	50%{
		color: yellow;
	}
	100%{
		color:#00008b;
	}
}

@keyframes text{
	0% {
		color: yellow;
	}
	50%{
		color: yellow;
	}
	100%{
		color:#00008b;
	}
}


.wag2{
	background-color:#0000cd;
	border-radius: 1em 0;
	padding: 0.3vw 1vw;
	color: yellow;
	font-size:1.5vw;
	font-weight:900 ;
	-webkit-animation: big 1s linear 1s infinite alternate-reverse backwards running ;
	animation: big 1s linear 1s infinite alternate-reverse backwards running ;
}
@-webkit-keyframes big {
	0%{
		transform: scale(1);
	}
	25% {
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes big {
	0%{
		transform: scale(1);
	}
	25% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

.fa-arrow-left{
	float: left;
	background:yellow ;
	color: #fff;
	border-radius: 1em 0;
	padding:0.6vw 1.8vw;
	font-size:1.5vw!important;
	margin: 0.4vw 1vw 0.1vw 0.1vw;
}
.fa-check,h1{
	color: blue;
	font-family: dana-regular;
	font-size: 4vw!important;
}
.header{
	align-items: baseline;
	flex-wrap: wrap;
}

.fa-check {
	margin-left:0.3vw;
	font-style: oblique!important;

}
h1{
	margin-left: 4vw;
}

.header>form,i{
	margin:1vw;
}
.sever {
	font-size: 1.2vw;
	padding-left: 0.5vw;
	border-left: 0.1vw solid #ddd;
}

.search-input{
	padding: 1vw 0.3vw 0.1vw 14vw;
	background: #eee;
	border: 1px solid #ddd;
}
.search-button{

	padding: 1vw 1.2vw;
	background: #09f;
	border: 1px solid #09f ;
	color: #eee;
}


.title {
	text-align: center;
	border-bottom: 0.1vw solid lightsteelblue;
	height: 4vw;
	margin:0 7%;
	word-wrap: anywhere;
}

.title i{
	margin-right:1vw;
	font-style: normal;
	font-size: 1.15vw;
	flex-wrap: nowrap;
	display: list-item;
	text-align: -webkit-match-parent;
}


 .sale2{
	border-radius:0em 0em 2em 0em;
	 margin-right: 2vw;
}
.sale1{
	background:url(image/images.jpg) 0 /cover no-repeat;
	padding:4vw 1vw;
	font-style: normal;
	height: 16vw;
}
.sale1 img{
	width:15vw;
	height:15vw;

}
.sale3 {
	border-radius: 2em 0em 0em 0em;
}
.sale2, .sale3{
	padding: 2vw;
}

.publicity1{
	font-family: "B Roya";
	font-size:4vw;
}
.publicity2{
	 text-shadow :-2px 2px 1px #f08080;
}
.publicity1, .publicity3{
	color: red;
	font-weight: 900;
	line-height:0.4vw;
	margin-left:1vw ;
	width: 100%;
}
.publicity3{
	font-weight: 500!important;
	font-size:2.5vw;
}
.publicity4{
	background-color: yellow;
	border-radius:1em 0em;
	font-size:1.5vw;
	font-weight: 900;
	text-align: center;
	width: 13vw;
	display: flex;
	align-items: baseline;
	margin-right: 2vw;
	flex-wrap: nowrap;
}


.marg1{
	margin-top: 6vw;
}
.sale3 img{
	margin:2vw 0 0!important;
}
.title1{
	overflow-x:scroll;
	font-size: 1vw;
    justify-content: stretch;
	margin: auto 6%;
}
.cut-rate{
	font-size:3vw;
	font-weight: 900;
	color: #ffd700;
}
.cut{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	height: 18vw!important;
	padding:3vw 4vw 3vw 0;
	line-height: 0;
	margin-right: 0!important;

}
#timer{
	font-size: 3vw;
	font-family:B Roya;
}

.fire{
	float: right;
	margin:1vw 1.5vw 0 0;
	width: 3vw;
	height:3vw;
}
.offer{
	margin: 1vw 10vw 0 0 ;
	padding:0.5vw;
}
.off{
	background-color:yellow;
	box-shadow:-5px 5px 0px 0px #DCDCDC;
	width:13vw;
	height: 1.2vw;
	font-size: 2vw;
	font-weight: 900;
	margin-right:5vw ;
}

.instalment img{
	border-radius: 1em;
	background-color: #DCDCDC;
	padding:10px ;
	width:6vw ;
	height:6vw ;

}

.back{
	background:url(image/back.jpg) 0 /cover repeat border-box;
	height: 31vw!important;
}
.back>div>img{
	width: 15vw;
	height: 17vw;
	margin: 0;
}
.back1{
	background-color: white;
	border-radius: 1em;
	padding:1vw ;
	margin: 1vw;
	text-align: justify;
	width:14vw;
	height:27vw;
	font: normal bold 1.2vw/2vw B Roya, serif;

}
.back1 img, .bord img{
	margin-right:2vw;
}
.instalment{
	text-align:center;
	margin:1vw;
	font-style: normal;
	font-family:B B Roya , "B Roya";
	display: flex;
	flex-direction: column;
}

.text1{
	background-color:navy;
	padding:0 1.8vw 1vw;
}

.text2{
	background-color:limegreen;
	padding:0 2.8vw 1vw;
}
.text1, .text2{
	width:10vw!important;
	height:8vw!important;
	color:white;
	font-size:2.2vw;
	text-align:center;
	border-radius: 0.5em;
}
.text1-1 , .text2-1{
	margin:0.3vw 0.4vw;
}
.fa-angle-right{
	color: limegreen;
}
.fa-angle-left{
	color:navy;
}

.fa-angle-left , .fa-angle-right{
	margin:0 0.3vw 0.3vw;
	position: relative;
	font-size: 2.5vw!important;
	font-weight: 900!important;
}
.fa-angle-right {
	-webkit-animation: move 2s 0s infinite alternate-reverse both running;
	animation: move 2s 0s infinite alternate-reverse both running;
}
@-webkit-keyframes move {
	0% {
		right: -3.5vw;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		right: 3.5vw;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;

	}
}

@keyframes move {
	0% {
		right: -3.5vw;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100%{
		right: 3.5vw;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
.fa-angle-left{
	-webkit-animation: wave 2s 0s infinite alternate-reverse both running ;
	animation: wave 2s 0s infinite alternate-reverse both running ;
}
@-webkit-keyframes wave {
	0% {
		right: 3.5vw;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		right: -3.5vw;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;

	}
}

@keyframes wave {
	0% {
		right: 3.5vw;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100%{
		right: -3.5vw;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}


.crop{
	text-align: justify;
	padding: 1.6vw;
	width:15vw;
	height:27vw;
	font: normal bold 1.2vw/2vw B Roya, serif;
}

section>div{

	padding:0.5vw;
	text-align: center;
}
h2{
	margin-top:6vw!important;
	font-size: 2vw;
}
h2, .crop:first-child{
	margin-right:10%;
	font-family: "B Roya";
}
 h3{
	float: left;
	margin:7vw 0 0 5vw ;
	font-size: 1.5vw;
}
 a{
	text-decoration: none;
	 color:#101214;
 }
.bord{
	border-bottom:1px solid lightsteelblue;
	height:100%;
	text-align:center;
	justify-content: flex-start;
}
.bord img{
	height: 10vw;
	width: 10vw;
}
h2,h3{
	display:inline-block;
}
.margin-off{
	margin:4vw 0 40vw 5vw!important;
}
.priceoof{
	text-decoration:line-through;
	font-size:1vw;
	margin-right:6vw ;
	color: dimgrey;

}
.percent{
	background-color:yellow;
	float: left;
	font-size:1.2vw;
}
span+p, i>p+p, .topic{
	margin-right: 7vw;
	font-size:1.2vw ;
	color: #000;
}
i>span{
	text-align: right;
	margin: 0.5vw;

}
span+p{
	text-align: left;
}
.name{

	height:8vw;
	text-align: justify;
}
#timer{
	color: #fff;
	font-size: 2vw;
}

footer {
	text-align: right;
	direction: rtl;
}
 footer ul{
	list-style-type: none;
	margin-bottom:6vw ;
}
 .first li, .thrid li {
	margin:1.5vw 3vw;
}
 footer li{
	 font-size: 1vw;
 }
footer li:first-child{
	font-size: 1.3vw;
}

footer p{
	margin-left: 1vw;
}
footer img{
	width: 3vw;
	height: 3vw;
}
.second{
	background-color: #eeeeee;
	height: 7vw;
	padding: 3.5vw;
	font-size:1.5vw ;
}
.second1{
	margin-right:4vw;
}

.thrid img{
	margin:3vw 3vw 0 1.5vw;
}


.fourth p+p{
	margin:1vw 7vw;
	color: grey;
	font-size: 1vw;
}
.final{
	text-align:center ;
	margin: 3vw 30vw;
	font-size: 1.2vw;
}
#details1, #details2, #details3, #details4, #details5, #details6, #details7, #details8, #details9 {
	background-color: #fff;
	margin: auto;
	z-index: 10;
}

   .detail{
	   background-color:#fff ;
	   width: 80%;
	   align-self: stretch;
	   box-sizing: border-box;
	   position: absolute;
	   margin-top: 5%;

   }