
header{
background:url('C:/Users/novin/Desktop/timche/images (2).jpg') 0 0 / cover no-repeat;
color:red;
width:950px;
height:60px;
padding-right:380px;

}
header p{
	font:30px lalezar;
	margin:10px;
	float:right;
	
}
.fa-check,h1{
	font-family:lalezar;
	color: blue;
	float: right;
	width: 50px;

	margin:10px 50px 10px 0px;
}
h1{
	margin:10px 0px 10px 50px;
}

.header>form,i{
	float:right;
	margin:10px 40px;
	
}
.instalment{
	border-radius: 5px;
	background-color: #DCDCDC;
	padding:10px ;
	width:60px ;
	height:60px ;
}

.title i{
	float:right;
	margin:10px 25px;
	
}

section{
	clear:both;
}

.off{
	background-color:yellow;
	box-shadow:-10px 10px 0px 0px #DCDCDC; 
	width:150px;
	height:20px;
}
 .sale2{
	border-radius:0em 0em 7em 0em;
	float:right;

}
.sale1{
	background:url(C:/Users/novin/Desktop/timche/images.jpg) 0 /cover no-repeat;
	float:right;
	width:500px;
	height:200px;
	padding:30px;

}
.sale3 {
	border-radius: 7em 0em 0em 0em;

}
i>div{
	float:right;
	margin-left: 90px;
}
i>div>p{
	color: red;
	font-size: 30px;
}
i>div>span{
	background-color: yellow;
	border-radius:15px 0px;
	font-size: 20px;
	padding: 10px;
}
.back{
	background:url(C:/Users/novin/Desktop/timche/back.jpg) 0 /cover no-repeat;
}
.back1{
	background-color: white;
	border-radius: 10px;
	padding:20px ;
}

.instalment{
	text-align:center;
	margin:20px;
}
i>img{
	margin-bottom:20px ;
}
.text1{
	width:100px;
	height:80px;
	background-color:navy;
	color:white;
	font-size:30px;
	text-align:center;
	padding-top:15px
}
.text2{
	width:100px;
	height:80px;
	background-color:limegreen;
	color:white;
	font-size:25px;
	text-align:center;
	padding-top:15px;
}

.crop{
	
	margin-right:20px;
	float:right;
	width:200px;
	height:240px;
	font:15px b-nazanin;

}

section>div{
    float:right ;
	padding:5px;
	text-align: center;
}
h2, div{
	clear: right;
	margin-right:15px;
	float: right;
}
h3 {
	margin-right: 800px;

}
.priceoof{
	text-decoration:line-through;
	font-size:10px;
	margin-right:120px ;
	color: dimgrey;

}
.percent{
	background-color:yellow;
	float: left;

}
i>span{
	text-align: right;
	margin: 5px;

}
span+p{
	text-align: left;
}
.name{
	height:50px;
}
.bord{
	border-bottom:1px solid lightsteelblue;
	height:330px;
}
footer {
	text-align: right;
	direction: rtl;

}
ul{
	float:right;
	list-style-type: none;
	margin-bottom:60px ;

}
 .first li, .thrid li {
	margin:15px 40px;
}
li:first-child{
	font-size: 20px;
}
footer>section{
	clear: both;
}

footer p{
	float: right;
	margin-left: 10px;
}
.second{
	background-color: #eeeeee;
	height: 70px;
	padding: 35px;
	font-size:15px ;
}
.second1{
	margin-right:40px;
}

.thrid img{
	float: right;
	margin:30px 30px 0 15px;
}

.fourth h3{
	margin:0 70px 0 1000px ;
}
.fourth p{
	margin:10px 70px;
	color: grey;
}
.final{
	text-align:center ;
	margin: 30px 300px;
}
